{
  "extends": ["taro/react"],
  "rules": {
    "quotes": ["error", "double", "single"],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}
