
# ----------------------------------中间件相关配置--------------------------------
# MYSQL 挂载卷
# MYSQL_VOLUME_LOG=/mnt/ssd2/steins/middleware_data/mysql/logs
# MYSQL_VOLUME_DATA=/mnt/ssd2/steins/middleware_data/mysql/data
# MYSQL_VOLUME_CONF=/mnt/ssd2/steins/middleware_data/mysql/conf
# MYSQL_ROOT_PASSWORD=root

# REDIS 挂载卷
# REDIS_VOLUME_DIRECTORY=/mnt/ssd2/steins/middleware_data/redis/data
# REDIS_VOLUME_CONFIG=/mnt/ssd2/steins/middleware_data/redis/redis.conf
# ---------------------------------------------------------------------------------




# ---------------------------------业务服务相关配置----------------------------------

# 后端日志
BACKEND_LOG=./logs/server

# nginx日志存放位置
NGINX_VOLUME_LOG=./logs/nginx

# 微信app的id
WECHAT_APP_ID=""
# 微信app的secret
WECHAT_APP_SECRET=""
# 聚合图床的token
SUPER_BED_TOKEN=""
# mysql数据库名
FORTY_APP_MYSQL_DB=""
# mysql数据库用户名
FORTY_APP_MYSQL_USER=""
# mysql数据库密码
FORTY_APP_MYSQL_PASSWORD=""

# ---------------------------------------------------------------------------------