

# MYSQL 挂载卷
# MYSQL_VOLUME_LOG=/mnt/ssd2/steins/middleware_data/mysql/logs
# MYSQL_VOLUME_DATA=/mnt/ssd2/steins/middleware_data/mysql/data
# MYSQL_VOLUME_CONF=/mnt/ssd2/steins/middleware_data/mysql/conf
# MYSQL_ROOT_PASSWORD=root

# REDIS 挂载卷
# REDIS_VOLUME_DIRECTORY=/mnt/ssd2/steins/middleware_data/redis/data
# REDIS_VOLUME_CONFIG=/mnt/ssd2/steins/middleware_data/redis/redis.conf


