@import "~taro-ui/dist/style/components/tag.scss";
@import "~taro-ui/dist/style/components/card.scss";
@import "~taro-ui/dist/style/components/load-more.scss";
@import "~taro-ui/dist/style/components/activity-indicator.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/textarea.scss";
@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/toast.scss";
@import "~taro-ui/dist/style/components/search-bar.scss";
@import "~taro-ui/dist/style/components/tabs.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;


