/* 强制修改 AtModal 宽度 */
.custom-width-modal {
  .at-modal__container {
    width: 90% !important;
    max-width: 710px; /* 适配大屏设备 */
    border-radius: 12px;
    overflow: hidden;
  }
  

  /* 移除 input 默认多余的 padding 让视觉更集中 */
  .at-input {
    padding: 24px 24px;
    margin: 0;
  }
}